# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/

# Logs / deps (in case you add a build later)
node_modules/
*.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
